
html {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

body {
    background-color: hsl(212, 45%, 89%);
}


.card {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 35px;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.container {
    display: grid;
    height: 90vh;
    justify-content: center;
    align-content: center;
}

p {
    color: hsl(220, 15%, 55%);
}